[submodule "VizualEngine/vendor/spdlog"]
	path = VizualEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VizualEngine/vendor/GLFW"]
	path = VizualEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
